.carddate {
  background-color: #f4db7d;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 70px;
  border-radius: 2px;
  font-size: 30px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.carddate--icon {
  height: 40px;
  margin-top: -5px;
  padding-right: 10px;
}

.carddate-align {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.carddate-s-text {
  font-size: 15px;
}
