.sidebar {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 150px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay at the top and left */
  top: 0;
  left: 0;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding: 10px;
  color: white;
  font-size: 12px;
  background: rgb(27, 34, 57);
  text-align: center;
  align-items: center;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar--logo {
  width: auto;
  max-width: 100px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
}

.sidebar--button {
  padding: 10px;
  font-size: 15px;
}

.end {
  position: absolute;
  bottom: 15px;
  left: 50px;
}
.active {
  font-weight: bold;
  background-color: #e3f2fd;
  margin-top: auto;
  border-radius: 50px 0px 0px 50px;
  margin-right: -10px;
  margin-left: -10px;
}

.sidebar-icon {
  margin-top: 3px;
  margin-left: -5px;
}
