.sidebar {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 150px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay at the top and left */
  top: 0;
  left: 0;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding: 10px;
  background: #1a2238;
  text-align: left;
  align-items: center;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.logo-center {
  display: flex;
  justify-content: center;
}

.sidebar--logo {
  max-width: 8vh;
  margin-top: 10px;
  margin-bottom: 50px;
}

.sidebar--button {
  padding: 10px;
}

.end {
  position: absolute;
  bottom: 15px;
}
.active {
  font-weight: bold;
  margin-top: auto;
  color: #bde0f9 !important;
}

.sidebar-icon {
  margin-top: 3px;
  margin-left: -5px;
}

.sidebar-login {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
}
