* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding: 10px;
}

input {
  display: block;
  font-size: large;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 5px;
  border-radius: 5px;
}

form {
  background-color: #886dbe;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

button {
  margin-top: 15px;
  font-size: large;
  border-radius: 5px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.cardstext-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.align--bottom {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 1px;
}

.align--right {
  margin-left: auto;
}

.blur {
  background: #e3f2fd;
  backdrop-filter: saturate(180%) blur(10px);
  margin: 20px;
  padding: 20px;
  border-radius: 9px;
  /* Same as the width of the sidebar */
  margin-left: 150px;
  position: relative;
  height: 93vh;
}

.background-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(27, 34, 57);
}

.gray {
  color: grey;
}

.bold {
  font-weight: bold;
}

hr {
  border: 2px solid;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.horizontal-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.horizontal-button-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: left;
  gap: 20px;
}

.align-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.top-margin {
  margin-top: 10px;
}

.box {
  margin-top: 0;
  background-color: black;
  font-size: x-large;
  text-align: center;
  gap: 20px;
}

.bg {
  font-size: 20px;
}
