* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding: 10px;
}

input {
  display: block;
  font-size: large;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 5px;
  border-radius: 5px;
}

form {
  background-color: #1a2238;
  padding: 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
}

button {
  margin-top: 15px;
  font-size: large;
  border-radius: 5px;
}

select {
  width: 100%;
  border-color: lightblue;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
  cursor: inherit;
  line-height: inherit;
  text-align: center;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
}

.cardstext-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin: 0px !important;
}

.align--bottom {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 1px;
}

.align--right {
  margin-left: auto;
}

.blur {
  background: #e3f2fd;
  backdrop-filter: saturate(180%) blur(10px);
  margin: 0px;
  padding: 20px;
  /* Same as the width of the sidebar */
  margin-left: 150px;
  position: relative;
  height: 100%;
}

.background-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(27, 34, 57);
}

.gray {
  color: grey;
}

.bold {
  font-weight: bold;
}

hr {
  border: 2px solid;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.horizontal-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.horizontal-button-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: left;
  gap: 20px;
}

.align-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.top-margin {
  margin-top: 10px;
}

.box {
  margin-top: 0;
  background-color: black;
  font-size: x-large;
  text-align: center;
  gap: 20px;
}

.bg {
  font-size: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.padding {
  margin-top: 15px;
  margin-bottom: 15px;
}

.options-icon {
  display: flex;
  gap: 15%;
  justify-content: center;
}

.grey {
  color: gray;
}

.arrow-icon {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-top: 2vh;
}

.cursor-pointer {
  cursor: pointer;
}
